body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #fff;
  color: #373a3c;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #373a3c;
}

/* 共通コンテナ */

.main_container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px;

}

.small_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

/* 共通パーツ */

.green_button {
  /* 緑ボタン */
  background-color: #5CB85C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.green_border_button {
  /* 緑ボタン */
  background-color: #fff;
  border: solid 2px #5CB85C;
  color: #5CB85C;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* ここから個別パート---------------------------------------------- */

/*
ナビゲーション
*/

.navbar {
  padding: 8px 16px;
}

.container {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #5CB85C;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right li:not(:first-child) {
  margin-left: 20px;
}


/*
TOPページ
*/

/* TOPページのバナーパート */

.home-banner {
  background-color: #5CB85C;
  color: #fff;
  padding: 2rem 0;
  justify-content: center;
  text-align: center;
  padding: 32px;
  width: 100%;
}

.home-banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0 0 0.5rem;
}

.home-banner p {
  font-size: 1.5rem;
  margin: 0;
}

/* TOPページのブログ２カラム表示 */

.grid-container {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 20px;
}

/* TOPページのブログ表示ナビ */

.home_nav_link {
  padding: 20px;
  border-bottom: solid 2px #5CB85C;
  margin-bottom: 5px;
}


/* TOPページのブログ一覧 */
.blog_list_container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;

}

.blog_list_container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 3px;
}

.tag-list {
  background-color: #f3f3f3;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
}

.tag-list p {
  margin: 0 0 0.2rem;
}

.tag-list a {
  font-size: 0.8rem;
  background-color: #818a91;
  padding: 0.3rem 0.6rem;
  border-radius: 10rem;
  color: #fff;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.subject_style {
  font-size: 1rem;
  color: #999;
  margin-bottom: 15px;
  line-height: 1.3rem;
}

.blog_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 0.8rem;
  line-height: 2;
}

.blog_tags {
  border: solid 1px #999;
  padding: 3px 10px;
  border-radius: 50px;
}



/*
編集ページ
*/

form div {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5em 1em;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/*
ブログ個別ページ
*/
.blog-banner {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  justify-content: center;
  padding: 32px;
  width: 100%;
}

.blog-banner h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
  /* padding: 0 0 0.5rem; */
}

.button_container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button_container button {
  margin-left: 20px;
}


/* ページネーション */

.pagination {
  display: flex;
  padding: 0;
  margin-top: 30px;

}

.pagination li {
  padding: 10px 15px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
  color: #5CB85C;
}

.pagination li:last-child {
  border-right: solid 1px #ddd;
}

.page-item .active {
  background-color: #4CAF50;
  /* あなたの好きな色に変更 */
  color: white;
  /* テキストの色を変更 */
}

.pagination .active a {
  background-color: #4CAF50;
  /* あなたの好きな色に変更 */
  color: white;
  /* テキストの色を変更 */
}

/* .pagination li a {
  color: #5CB85C;
} */
